body {
    background:#F5F5F5;
}

#header {
    height:1.5em;   
    background: #F5F5F5;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

#header-img {
    width: 25%;
    float: left;
 }

 #nav-bar {
   display: flex;
   width: 30%;
   justify-content: space-between;
   }

.nav-link {
    justify-content: center; 
    width: 33%;
    height: 1.5em;
    font-size: 1.5em;
    text-decoration: none;
    color: black;
    text-align: center;
    line-height: 1.5em;
 } 

 @media screen and (max-width: 900px) {
     .nav-link {
         font-size: 1em;
     }
 }